.success-modal {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.success-modal__content {
  position: relative;
  background: white;
  border-radius: 8px;
  padding: 20px 24px;
  width: 320px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.success-modal__close-button {
  position: absolute;
  top: 0px;
  right: 10px;
  border: none;
  font-size: 24px;
  background: none;
  cursor: pointer;
}
.success-modal__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 31.2px;
  letter-spacing: -0.01em;
}
.success-modal__description {
  margin: 10px 0 0;
  color: #666;
  font-size: 15px;
}
