.services-section {
  display: flex;
  align-items: center;
  width: 100%;
  height: 1122px;
  padding-top: 80px;
  padding-bottom: 160px;

  @media (max-width: 1919px) {
    height: 1007px;
    padding-top: 70px;
    padding-bottom: 140px;
  }

  @media (max-width: 1279px) {
    height: 902px;
    padding-top: 60px;
    padding-bottom: 120px;
  }

  @media (max-width: 743px) {
    height: auto;
    padding-top: 50px;
    padding-bottom: 40px;
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;

    @media (max-width: 1919px) {
      gap: 44px;
    }

    h1 {
      font-size: 40px;
      font-weight: 500;
      line-height: 52px;
      letter-spacing: -0.01em;

      @media (max-width: 1919px) {
        font-size: 36px;
        font-weight: 500;
        line-height: 46.8px;
      }

      @media (max-width: 1279px) {
        font-size: 32px;
      }

      @media (max-width: 743px) {
        font-size: 28px;
        line-height: 36.4px;
        letter-spacing: -0.01em;
        text-align: center;
      }
    }
  }

  &__details {
    display: flex;
    gap: 50px;
    align-items: center;

    @media (max-width: 1919px) {
      gap: 40px;
    }
  }

  &__image {
    width: 100%;
    max-width: 677px;
    border-radius: 16px;
    overflow: hidden;

    @media (max-width: 1919px) {
      max-width: 443px;
      height: 706px;
    }

    @media (max-width: 1279px) {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    // max-width: 993px;

    @media (max-width: 1919px) {
      max-height: 100%;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 112px;

    gap: 24px;
    border-top: 1px solid #343fb829;
    // padding-block: 22px;

    @media (max-width: 1919px) {
      height: 100px;
    }

    @media (max-width: 1279px) {
      height: 90px;
    }

    @media (max-width: 743px) {
      flex-direction: column;
      gap: 24px;
      height: auto;
      padding-top: 24px;
      padding-bottom: 24px;
      align-items: flex-start;
    }

    button {
      @media (max-width: 743px) {
        width: 100%;
      }
    }
  }

  .service-name {
    font-size: 28px;
    font-weight: 500;
    line-height: 36.96px;
    letter-spacing: -0.01em;
    text-align: left;

    @media (max-width: 1919px) {
      font-size: 22px;
      font-weight: 500;
      line-height: 29.04px;
    }

    @media (max-width: 743px) {
      font-size: 18px;
      line-height: 23.76px;
    }
  }
}
