.services-section {
  display: flex;
  align-items: center;
  width: 100%;
  height: 1122px;
  padding-top: 80px;
  padding-bottom: 160px;

  @media (max-width: 1920px) {
    height: 1007px;
    padding-top: 70px;
    padding-bottom: 140px;
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;

    @media (max-width: 1920px) {
      gap: 44px;
    }

    h1 {
      font-size: 40px;
      font-weight: 500;
      line-height: 52px;
      letter-spacing: -0.01em;

      @media (max-width: 1920px) {
        font-size: 36px;
        font-weight: 500;
        line-height: 46.8px;
      }
    }
  }

  &__details {
    display: flex;
    gap: 50px;
    align-items: center;

    @media (max-width: 1920px) {
      gap: 40px;
    }
  }

  &__image {
    width: 100%;
    max-width: 677px;
    border-radius: 16px;
    overflow: hidden;

    @media (max-width: 1920px) {
      max-width: 443px;
      height: 706px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    // max-width: 993px;

    @media (max-width: 1920px) {
      max-height: 100%;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 112px;

    gap: 24px;
    border-top: 1px solid #343fb829;
    // padding-block: 22px;

    @media (max-width: 1920px) {
      height: 100px;
    }
  }

  .service-name {
    font-size: 28px;
    font-weight: 500;
    line-height: 36.96px;
    letter-spacing: -0.01em;

    @media (max-width: 1920px) {
      font-size: 22px;
      font-weight: 500;
      line-height: 29.04px;
    }
  }
}
