.works-section {
  padding-top: 80px;
  padding-bottom: 83px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 903px;

  @media (max-width: 1919px) {
    height: 731px;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  @media (max-width: 1279px) {
    height: 662px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media (max-width: 744px) {
    height: 662px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 0px;
    padding-right: 0px;
  }

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;

    h1 {
      font-size: 40px;
      font-weight: 500;
      line-height: 52px;
      letter-spacing: -0.01em;

      @media (max-width: 1919px) {
        font-size: 36px;
        font-weight: 500;
        line-height: 46.8px;
      }

      @media (max-width: 744px) {
        padding-left: 40px;
        padding-right: 40px;
      }
    }
  }

  &__examples {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }

  &__example-card {
    display: flex;
    flex-direction: column;
    gap: 32px;
    background: #343fb80a;
    padding: 32px;
    border-radius: 20px;

    @media (max-width: 1919px) {
      width: 363px;
      height: 500px;
      border-radius: 8px;
    }

    @media (max-width: 744px) {
      width: 322px;
      height: 460px;
      border-radius: 12px;
      padding: 20px;
      gap: 20px;
    }

    img {
      object-fit: cover;
      height: 505px;

      @media (max-width: 1919px) {
        width: 100%;
        height: 100%;
      }

      @media (max-width: 744px) {
        height: 374px;
      }
    }
  }

  &__example-title {
    font-size: 28px;
    font-weight: 500;
    line-height: 36.96px;
    letter-spacing: -0.01em;
    text-align: center;
  }

  .swiper {
    width: 100%;
    // max-width: 1006px;
    height: 460px;
    // background-color: red;
  }

  .mySwiper {
    width: 100%;
    height: 100%;
  }
}
