// Основная обёртка оверлея
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff; // Можно оставить или убрать, если нужно
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 28px;
  }

  &__content {
    width: 100%;
    text-align: center;
  }

  &__logo {
    width: 92px;
    height: 48px;

    @media (max-width: 500px) {
      width: 76px;
      height: 40px;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 36px;

    @media (max-width: 500px) {
      gap: 28px;
    }
  }

  &__link {
    font-family: Inter;
    font-size: 32px;
    font-weight: 500;
    line-height: 41.6px;
    color: #000000;
    text-decoration: none;

    @media (max-width: 500px) {
      font-size: 28px;
      font-weight: 500;
      line-height: 36.4px;
      letter-spacing: -0.01em;
    }

    &:hover {
      transition: all 0.3s linear;
      color: #007aff;
    }
  }

  &__phone {
    white-space: nowrap;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 60px;
    left: 50%;
    transform: translateX(-50%);

    @media (max-width: 743px) {
      margin-bottom: 124px;
    }
  }

  &__phone-img {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #343fb80a;
    border-radius: 8px;

    img {
      width: 20px;
      height: 20px;
    }
  }

  &__phone-numbers {
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000000;
  }

  &__call-button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 40px;
  }

  // Тёмный фон для CallForm
  &__dim-background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000; // выше, чем сам оверлей
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); // полупрозрачный чёрный
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // Центрирование CallForm
  &__form-wrapper {
    // Чтобы CallForm встал по центру
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    max-width: 90vw; // на случай маленьких экранов, чтобы не вылезало
  }
}
