.about-section {
  display: flex;
  // align-items: center;
  // justify-content: center;
  padding: 0 100px;
  width: 100%;
  // height: 798px;
  height: auto;

  &__image {
    width: 50%; // Изображение займет всю ширину родителя.
    height: auto; // Высота будет автоматически подстраиваться для сохранения пропорций.
    min-height: 558px;
    object-fit: contain; // Сохраняет пропорции изображения.
    max-width: 100%; // Предотвращает растягивание изображения.
  }

  &__content {
    display: flex;
    margin-top: 160px;
    margin-bottom: 80px;
    gap: 50px;
    // height: 558px;
    height: auto; // Убираем фиксированную высоту.
    min-height: 300px; // Указываем минимальную высоту для устойчивости.
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__info-title {
    font-size: 40px;
    font-weight: 500;
    line-height: 52px;
    letter-spacing: -0.01em;
  }

  &__info-description {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 30.4px;
  }

  &__stats {
    display: flex;
    gap: 24px;
    max-height: 215px;
  }

  &__stat {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #343fb80a;
    border-radius: 20px;
    padding: 24px;
  }

  &__stat-title {
    font-size: 28px;
    font-weight: 500;
    line-height: 36.96px;
    letter-spacing: -0.01em;
  }

  &__stat-description {
    font-size: 19px;
    font-weight: 400;
    line-height: 28.88px;
  }
}
