.contacts-section {
  display: flex;
  align-items: center;
  width: 100%;
  height: 1222px;
  padding-top: 160px;
  padding-bottom: 140px;

  @media (max-width: 1919px) {
    height: 1001px;
    padding-top: 140px;
  }

  @media (max-width: 1279px) {
    height: 1174px;
    padding-top: 120px;
    padding-bottom: 0px;
    align-items: flex-start;
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 44px;

    @media (max-width: 1919px) {
      gap: 38px;
    }

    @media (max-width: 1279px) {
      gap: 34px;
    }

    h1 {
      font-size: 40px;
      font-weight: 500;
      line-height: 52px;
      letter-spacing: -0.01em;

      @media (max-width: 1919px) {
        font-size: 36px;
        font-weight: 500;
        line-height: 46.8px;
      }

      @media (max-width: 1279px) {
        font-size: 32px;
        line-height: 41.6px;
      }
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1279px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr); // Две колонки
      gap: 16px;
    }
  }

  &__info-item {
    display: flex;
    flex-direction: column;
    gap: 16px;

    span {
      font-family: Inter;
      font-size: 20px;
      font-weight: 400;
      line-height: 30.4px;
      text-align: left;

      @media (max-width: 1919px) {
        font-size: 16px;
        line-height: 24.32px;
      }

      @media (max-width: 1279px) {
        font-size: 15px;
        line-height: 22.8px;
      }
    }

    a,
    p {
      font-size: 28px;
      font-weight: 500;
      line-height: 36.96px;
      letter-spacing: -0.01em;
      text-align: left;
      color: #000000;

      @media (max-width: 1919px) {
        font-size: 22px;
        font-weight: 500;
        line-height: 29.04px;
      }

      @media (max-width: 1279px) {
        font-size: 20px;
        line-height: 26.4px;
      }
    }

    a {
      text-decoration-line: underline;
      text-decoration-style: solid;
    }
  }

  &__map {
    display: flex;
    align-items: center;
    width: 100%;
    height: 660px;
    border-radius: 20px;
    overflow: hidden;

    @media (max-width: 1919px) {
      height: 500px;
    }

    @media (max-width: 1279px) {
      height: 772px;
      border-radius: 0px;
      width: calc(
        100% + 80px
      ); // Увеличиваем ширину на padding для этого брейкпоинта
      margin-left: -40px;
      margin-right: -40px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
